@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

:root{
  --bg-light: white;
  --text-light: black;

  --bg-dark: #000000;
  --text-dark: #ffffff;

  --card-light: white;
  --card-dark: #1a1a1a;
}

body{
  margin:0;
  background: var(--bg-light);
  color: var(--text-light);
  font-family: "Quicksand", sans-serif;
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 1.5rem;
  background:rgba(0,0,0,0.05);
}

.search-area{
  display:flex;
  gap:0.5rem;
}

.search-area input,
.search-area select{
  padding:0.6rem;
  font-size:1rem;
  border-radius:10px;
  border:2px solid #777;
}

#botao-busca{
  padding:0.6rem 1rem;
  border-radius:10px;
  background:#6f32c7;
  color:white;
  border:none;
  cursor:pointer;
}

#toggle-tema{
  padding:0.6rem;
  border-radius:10px;
  border:none;
  font-size:1.2rem;
  cursor:pointer;
  background:#ddd;
}

body.dark #toggle-tema{
  background:#333;
  color:white;
}

main{
  max-width:1100px;
  margin:2rem auto;
  padding:1rem;
}

.card-container{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
  gap:1rem;
}

.card{
  background: var(--card-light);
  color: var(--text-light);
  border:1px solid #999;
  padding:1rem;
  border-radius:12px;
}

body.dark .card{
  background: var(--card-dark);
  color: var(--text-dark);
}

/* MODAL */
.modal {
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-conteudo {
  background:white;
  color:black;
  padding:1.5rem;
  border-radius:10px;
  width:300px;
  text-align:center;
}

.modal button {
  margin-top:1rem;
  padding:.5rem 1rem;
  cursor:pointer;
}

body.dark .modal-conteudo{
  background:#111;
  color:white;
}
